/*AwesomeBar_Popup by frog V6 for fx4+*/
#PopupAutoCompleteRichResult[animatedPopup]:not(.omnibar-style-slim) richlistitem.autocomplete-richlistitem:not([current]) .ac-url-box {
	visibility: collapse !important;
	opacity: 0 !important;
	-moz-transform: translateX(-.7em) !important;
}

#PopupAutoCompleteRichResult[animatedPopup] .autocomplete-richlistbox > scrollbox {
	overflow: visible !important;
	width: -moz-available !important;
}

#PopupAutoComplete[animatedPopup] {
	background-color: white !important;
}
#PopupAutoCompleteRichResult[animatedPopup] {
	padding: 0 !important;
	margin-top: -1px !important;
	background-color: white !important;
}

#PopupAutoComplete[animatedPopup] .autocomplete-treebody {
	background: white !important;
}
#PopupAutoCompleteRichResult[animatedPopup] .autocomplete-richlistbox {
	display: block !important;
	background: white -moz-linear-gradient(left, rgb(242,242,242) 26px, transparent 0) repeat-y !important;
	margin: 1px !important;
}

#PopupAutoComplete[animatedPopup] *,
#PopupAutoCompleteRichResult[animatedPopup] * {
	font: inherit !important;
	font-family: "Segoe ui", sans-serif !important;
	color: inherit !important;
}

#PopupAutoCompleteRichResult[animatedPopup] .ac-site-icon {
	margin: 0 8px 0 0 !important;
}
#PopupAutoCompleteRichResult[animatedPopup] .ac-title-box {
	margin: 0 !important;
	padding: 0 !important;
	color: black !important;
}
#PopupAutoComplete[animatedPopup] .autocomplete-treebody::-moz-tree-cell-text {
    color: black !important;
}
#PopupAutoCompleteRichResult[animatedPopup] .autocomplete-richlistbox .autocomplete-richlistitem .ac-url-box {
	margin: 0 !important;
	padding: 0 0 1px 0 !important;
	-moz-transition: opacity .22s linear 0.03s, -moz-transform .22s ease-out 0.03s !important;
	color: hsl(0,0%,44%) !important;
	font-size: 95% !important;
}

#PopupAutoComplete[animatedPopup] .autocomplete-treebody::-moz-tree-row {
	border: 1px solid transparent !important;
	border-bottom-color: transparent !important;
	border-top: 1px dotted rgba(242,242,242,.7) !important;
	padding: 0px 4px !important;
	background: none !important;
}
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem,
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault"],
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"] {
	border: 1px solid transparent !important;
	border-bottom-color: transparent !important;
	border-top: 1px dotted rgba(242,242,242,.7) !important;
	box-shadow: none !important;
	padding: 2px 4px !important;
	background: none !important;
}

#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[current] + richlistitem.autocomplete-richlistitem,
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[current] + richlistitem.autocomplete-richlistitem[type="agrenondefault"],
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[current] + richlistitem.autocomplete-richlistitem[type="agrenondefault-first"] {
	border-top-style: solid !important;
}

#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type*="omnibar-suggestion"]:not([actiontype="switchtab"]):not([current]):not([selected]):not(:active):not(:hover) {
	background: none !important;
}

#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[actiontype="switchtab"],
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault"][actiontype="switchtab"],
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][actiontype="switchtab"] {
	color: hsla(0,0%,44%,1) !important;
}

#PopupAutoComplete[animatedPopup] .autocomplete-treebody::-moz-tree-row(selected) {
	background-size: 26px auto, auto !important;
	border-radius: 2.3px !important;
}
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[current],
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault"][current],
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][current] {
	background-size: 26px auto, auto !important;
	border-radius: 2.3px !important;
	-moz-transition: box-shadow .23s ease 0.02s !important;
	box-shadow: inset hsla(0,0%,100%,.43) 0 0 0 1px !important;
	text-shadow: hsla(0,0%,100%,.3) 0 0 2px, hsla(0,0%,100%,.5) 0 1px 0 !important;
}

#PopupAutoComplete[animatedPopup] .autocomplete-treebody::-moz-tree-row(selected) {
	border-color: rgb(190,190,190) !important;
	background-image: -moz-linear-gradient(rgb(248,248,248) 0%, rgb(229,229,229) 100%) !important;
}
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[current]:not([selected]),
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault"][current]:not([selected]),
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][current]:not([selected])  {
	border-color: rgb(190,190,190) !important;
	background-image: -moz-linear-gradient(left, rgba(0,0,0,.055) 25px, rgba(0,0,0,0) 25px, rgba(0,0,0,.2)), -moz-linear-gradient(rgb(248,248,248) 0%, rgb(229,229,229) 100%) !important;
}

#PopupAutoCompleteRichResult[animatedPopup] span.ac-emphasize-text {
	font-weight: normal !important;
	background: hsla(60,91%,75%,.38) -moz-linear-gradient(bottom, hsla(37,100%,55%,.15) 4px, hsla(40,100%,60%,.2) 0px, hsla(60,100%,80%,.07) 100%) border-box !important;
	text-decoration: none !important;
	box-shadow: inset hsla(60,100%,35%,.2) 0 0 0 1px, inset hsla(0,0%,100%,.15) 0 0 0 2px !important;
	border-radius: 2px !important;
}

/* Fix for Peers 2 entries */
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault"],
#PopupAutoCompleteRichResult[animatedPopup] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"] {
	margin-top: 0px !important;
}
