@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#PopupAutoCompleteRichResult[animatedPopup="grass"] .ac-extra {
		color: hsla(95,15%,44%,1) !important;
	}
	
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[actiontype="switchtab"],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][actiontype="switchtab"],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][actiontype="switchtab"] {
		background: hsla(95,35%,87%,.2) border-box !important;
		box-shadow: inset hsla(95,50%,35%,.15) 0 0 0 1px, inset hsla(0,0%,100%,.2) 0 0 0 2px !important;
	}
	
	#PopupAutoComplete[animatedPopup="grass"] .autocomplete-treebody::-moz-tree-row(selected),
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[current],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][current],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][current] {
		border-color: hsla(95,100%,43%,.6) !important;
		background: hsla(95,100%,50%,.18) border-box !important;
		box-shadow: inset hsla(95,100%,91%,.5) 0 0 0 1px !important;
	}
	
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[selected]:active:hover,
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][selected]:active:hover,
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][selected]:active:hover {
		background-color: hsla(95,100%,42%,.27) !important;
		box-shadow: inset hsla(95,71%,84%,.5) 0 0 0 1px !important;
	}

}
