@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#PopupAutoCompleteRichResult[animatedPopup="grass"] .ac-extra {
		color: hsla(95,15%,44%,1) !important;
	}
	
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[actiontype="switchtab"],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][actiontype="switchtab"],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][actiontype="switchtab"] {
		box-shadow: inset hsla(95,50%,35%,.15) 0 0 0 1px, inset hsla(0,0%,100%,.2) 0 0 0 2px !important;
		background: linear-gradient(hsla(95,55%,94%,.2) 0px, hsla(95,25%,80%,.2) 100%) border-box !important;
	}
	
	#PopupAutoComplete[animatedPopup="grass"] .autocomplete-treebody::-moz-tree-row(selected) {
		border: 1px solid hsla(95,57%,69%,1) !important;
		background: padding-box linear-gradient(hsla(95,100%,96%,1) 0%, hsla(95,100%,91%,1) 100%) repeat-x !important;
	}
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[current],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][current],
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][current] {
		border: 1px solid hsla(95,57%,69%,1) !important;
		text-shadow: hsla(95,97%,97%,1) 0 1px 0 !important;
		background: border-box linear-gradient(to right, hsla(95,100%,2%,.06) 27px, hsla(95,57%,69%,0) 27px, hsla(95,57%,69%,.75)) repeat-y, padding-box linear-gradient(hsla(95,100%,96%,1) 0%, hsla(95,100%,91%,1) 100%) repeat-x !important;
	}
	
	#PopupAutoComplete[animatedPopup="grass"] .autocomplete-treebody::-moz-tree-row(hover) {
		background-image: linear-gradient(hsla(95,89%,93%,1) 0, hsla(95,94%,88%,1) 100%) !important;
	}
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[selected]:active:hover,
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][selected]:active:hover,
	#PopupAutoCompleteRichResult[animatedPopup="grass"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][selected]:active:hover {
		background-image: linear-gradient(to right, hsla(95,100%,2%,.06) 27px, hsla(95,57%,69%,0) 27px, hsla(95,57%,69%,.75)), linear-gradient(hsla(95,89%,93%,1) 0, hsla(95,94%,88%,1) 100%) !important;
	}

}
