@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] .ac-extra {
		color: hsla(0,15%,44%,1) !important;
	}
	
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[actiontype="switchtab"],
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][actiontype="switchtab"],
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][actiontype="switchtab"] {
		background: hsla(0,35%,87%,.2) border-box !important;
		box-shadow: inset hsla(0,50%,35%,.15) 0 0 0 1px, inset hsla(0,0%,100%,.2) 0 0 0 2px !important;
	}
	
	#PopupAutoComplete[animatedPopup="ruby"] .autocomplete-treebody::-moz-tree-row(selected),
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[current],
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][current],
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][current] {
		border-color: hsla(0,100%,43%,.6) !important;
		background: hsla(0,100%,50%,.18) border-box !important;
		box-shadow: inset hsla(0,100%,91%,.5) 0 0 0 1px !important;
	}
	
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[selected]:active:hover,
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][selected]:active:hover,
	#PopupAutoCompleteRichResult[animatedPopup="ruby"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][selected]:active:hover {
		background-color: hsla(0,100%,42%,.27) !important;
		box-shadow: inset hsla(0,71%,84%,.5) 0 0 0 1px !important;
	}

}
