#PopupAutoCompleteRichResult[animatedPopup="taupe"] .ac-extra {
	color: hsla(43,15%,44%,1) !important;
}

#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[actiontype="switchtab"],
#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][actiontype="switchtab"],
#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][actiontype="switchtab"] {
	background: -moz-linear-gradient(hsla(43,55%,94%,.2) 0px, hsla(43,25%,80%,.2) 100%) border-box !important;
	box-shadow: inset hsla(43,50%,35%,.15) 0 0 0 1px, inset hsla(0,0%,100%,.2) 0 0 0 2px !important;
}

#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[current],
#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][current],
#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][current] {
	border: 1px solid hsla(43,57%,69%,1) !important;
	background: border-box -moz-linear-gradient(left, hsla(43,100%,2%,.06) 25px, hsla(43,57%,69%,0) 25px, hsla(43,57%,69%,.75)) repeat-y, padding-box -moz-linear-gradient(hsla(43,100%,96%,1) 0%, hsla(43,100%,91%,1) 100%) repeat-x !important;
}

#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[selected]:active:hover,
#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[type="agrenondefault"][selected]:active:hover,
#PopupAutoCompleteRichResult[animatedPopup="taupe"] richlistitem.autocomplete-richlistitem[type="agrenondefault-first"][selected]:active:hover {
	background-image: -moz-linear-gradient(left, hsla(43,100%,2%,.06) 25px, hsla(43,57%,69%,0) 25px, hsla(43,57%,69%,.75)), -moz-linear-gradient(hsla(43,89%,93%,1) 0, hsla(43,94%,88%,1) 100%) !important;
}
